/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


*{
	margin: 0px;
	padding: 0px;
}
.header{
    background: linear-gradient(180deg, rgba(254, 85, 23, 0.8) 31.25%, rgba(254, 102, 46, 0.4) 91.15%),
    linear-gradient(0deg, #FE662E, #FE662E);
    width: auto;
    height: 630px;
    padding: 0 8% 0 8%;
}
#img_logo{
    margin: -7% 0 0 -8%; 
}
#texto_header{
    padding-top: 25%;
    margin-left: -2.5%;
}

img#perfil{
    position: relative;
    width: 350px;
    height: 369px;
    margin-top: -12%;
    margin-left: 35%;
    margin-right: 0;
}

.menu_form{
    color: #fff;
    text-decoration:none;
    padding: 20px 0 262px 0;
    padding-left: 25%; 
}

.button{
    background-color: #6263AB;
    color: #fff;
    text-decoration:none;
    height: 48px;
    width: 173px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    text-align: center; 
    padding: 12px 0 0 0;
    margin-right: 23.24px;
}
.button:hover{
    background-color: #36357E;
    color: #fff;
    text-decoration: none;
    height: 48px;
    width: 173px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

H1{
    font-family:'Montserrat', sans-serif bold;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
}

H2{
    font-size: 48px;
    color: #fff;
    font-family:'Montserrat', sans-serif bold;
    font-weight: bold;
}

H3{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;

}
H4{
    font-family:'Montserrat', sans-serif bold;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}
h6{
    font-family: 'Montserrat', sans-serif bold;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    color: #000;
} 

h5{
    font-family: 'Montserrat', sans-serif bold;
    font-style: bold;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

}


.texto_fila{
    margin: 5% 0 0 1%;
} 
.cor_prin_01_texto{
    color: #36357E;

}
.cor_prin_02_texto{
    color: #FE5517;
}
.cor_prin_02_conteudo{
    background: #FE5517;
}

.espaco_grid{
    margin: 0 8% 0 8%;
}

.card_fila{
    width: 48%;
    height: 20%;
    background: #A8A8D0;
    border-radius: 20px 20px 20px 20px;
    margin-right: 2%;
}

.card_img{
    width: 120%;
    height: 100.5%;  
    border-radius: 20px 0 0 20px;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
    box-shadow: 3px 3px 3px #616161 ;
    -moz-box-shadow: 3px 3px 3px #616161;
}

.card_titulo{
    margin: -4% 0 3% 10%;    
}

.card_numero_fila{
    padding-left: 34%;
}

.card_conteudo_fila{
    margin-top: -30%;
    margin-left: 26%; 
    
}

.card_button{
    padding-left: 24%;
    padding-top: 5%;
}

.card_detalhe_icone{
    padding: 0 0 0 86.6px;
    margin: -7% -10px 0 0;
    }

.card_detalhe_texto{
    margin: -22% 0 0 13%;
    text-decoration: underline ;
    color: #000;   
}

.button_fila{
    background-color: #FE5517;
    color: #fff;
    text-decoration:none;
    border-radius: 4px;
    text-align: center; 
    height: 10%;
    width: 85%;

}
.button_fila:hover{
    background-color: #B93200;
    color: #fff;
}


.calendario{
    margin: 30% 0 0 0;

}
.calendario_img{
    position: relative;
    width: 350px;
    height: 500px;
    max-width: 350px;
}











footer{
    background-color: #121225;
    height: 336,18px;
}

.footer_texto{
    color:#fff;
    font-size: 16px;
    padding-top: 25px;
}

.footer_img{
    margin: 0 0 0 250px;
}

.footer_icone{
    margin: 35px 0 0 0;
}
.cormodal{
    background: #36357e;
    color: #fff;
}

.modal_tamanho_botao{
    height: 48px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}
.modal_tamanho_botao:hover{
    height: 48px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

.modal_texto{
    margin: 10px 0 10px 0;
}

