/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


*{
	margin: 0px;
	padding: 0px;
}
.header{
    background: linear-gradient(180deg, rgba(254, 85, 23, 0.8) 31.25%, rgba(254, 102, 46, 0.4) 91.15%),
    linear-gradient(0deg, #FE662E, #FE662E);
    width: auto;
    height: 190px;
    padding: 0 8% 0 8%;
}

#img_logo{
    position: relative;
    width: 70%;
    height: 60%;
    margin: 0 0 0 0; 
}

#headar_espacamento{
    margin-left: 30%;
}

#header_nome{
    padding-top: 55%;
    color: #fff;
    letter-spacing: 1px;
}

.header_dropdowns{
    background: #36357e;
    color: #fff;
}
.dropdowns_btn{
    width: auto;
    height: 10%;
    margin-top: 6.5%;
    color: #fff;
}


img#perfil{
    position: absolute;
    width: 145px;
    height: 130px;
    border-radius: 100%;
    top: 11%;
    
} 



.button{
    background-color: #6263AB;
    color: #fff;
    text-decoration:none;
    height: 48px;
    width: 173px;
    border-radius: 4px;
    text-align: center; 
    padding: 12px 0 0 0;
    margin-right: 23.24px;
}
.button:hover{
    background-color: #36357E;
    color: #fff;
    text-decoration: none;
    height: 48px;
    width: 173px;
    border-radius: 4px;
}

H1{
    font-family:'Montserrat', sans-serif bold;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
}

H2{
    font-size: 48px;
    color: #fff;
    font-family:'Montserrat', sans-serif bold;
    font-weight: bold;
}

H3{
    
    font-family: 'Montserrat', sans-serif bold;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;

}
H4{
    font-family:'Montserrat', sans-serif bold;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}
h6{
    font-family: 'Montserrat', sans-serif bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
} 

h5{
    font-family: 'Montserrat', sans-serif bold;
    font-style: bold;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}


.texto_fila{
    margin: 5% 0 0 1%;
} 
.cor_prin_01_texto{
    color: #36357E;

}
.cor_prin_02_texto{
    color: #FE5517;
}
.cor_prin_02_conteudo{
    background: #FE5517;
}


.espaco_grid{
    margin: 0 8% 0 8%;
}

.card_fila{
    width: 48%;
    height: 20%;
    background: #C4C4C4;
    border-radius: 20px 20px 20px 20px;
    margin-right: 2%;
}

.card_img{
    width: 120%;
    height: 100.5%;  
    border-radius: 20px 0 0 20px;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
}

.card_titulo{
    margin: -4% 0 3% 10%;    
}

.card_numero_fila{
    padding-left: 34%;
}

.card_conteudo_fila{
    margin-top: -30%;
    margin-left: 26%; 
    
}

.card_button{
    padding-left: 24%;
    padding-top: 5%;
}

.card_detalhe_icone{
    padding: 0 0 0 86.6px;
    margin: -7% -10px 0 0;
    }

.card_detalhe_texto{
    margin: -22% 0 0 13%;
    text-decoration: underline ;
    color: #000;   
}

.button_fila{
    background-color: #FE5517;
    color: #fff;
    text-decoration:none;
    border-radius: 4px;
    text-align: center; 
    height: 10%;
    width: 85%;

}
.button_fila:hover{
    background-color: #B93200;
    color: #fff;
}


.calendario{
    padding: 10% 0 3% 0;
}
.calendario_conteudo{
    margin: 4% 0 4% 0;
}
#titulo_calen{
    padding: 8% 0 0 0;
}
#calen_texto{
    padding: 6% 0 0 0;
    text-align: left;
}
#calen_button{
    padding: 10% 0 0 0;
}
.calen_button{
    width: 50%;
    height: 10%;
    margin-left: 25%;
}
.calendario_img{
    position: relative;
    width: 100%;
    height: 100%;
}

footer{
    background-color: #121225;
    height: auto;
    width: auto;
    padding: 4.5% 0 0 0;
}

#footer_texto{
    color:#fff;
    font-size: 16px;
}
.footer_img{
    padding-left: 50%; 
}

#footer_icone{
    text-align: center;
    padding-left: 28%; 

}

.cormodal{
    background: #36357e;
    color: #fff;
}

.modal_tamanho_botao{
    height: 48px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}
.modal_tamanho_botao:hover{
    height: 48px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}

.modal_texto{
    margin: 10px 0 10px 0;
}

.topnav {
    width: 100%;
    height: 52em;
    background: linear-gradient(180deg, rgba(254, 85, 23, 0.374) 15.1%, 
    rgba(254, 102, 46, 0.0825) 46.35%), rgba(254, 102, 46, 0.75);
    background-image: url("../img/fila/fila_videogame.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.button-login {
    color: white;
}

.button-login:hover {
    color: white;
}

#h1-topnav {
    position: absolute;
    width: 665.43px;
    height: 153.05px;
    left: 96px;
    top: 520.46px;
    font-family:'Montserrat', sans-serif bold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

#p-topnav {
    position: absolute;
    width: 640px;
    height: 93.31px;
    left: 99px;
    top: 684.53px;
    font-family:'Montserrat', sans-serif bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}